<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdz.dao.mapper.TagMapper">

    <sql id="all">
        id,avatar,tag_name as tagName
    </sql>

    <select id="findTagsByArticleId" parameterType="long" resultType="com.zdz.dao.pojo.Tag">
        select <include refid="all" />  from ms_tag
        <where>
            id in
            (select tag_id from ms_article_tag where article_id = #{articleId})
        </where>
    </select>

    <select id="findHotTagIds"  parameterType="integer" resultType="java.lang.Long">
        SELECT tag_id  as TagId FROM ms_article_tag at GROUP BY tag_id ORDER BY COUNT(1)  DESC LIMIT #{limit};



    </select>

    <select id="findTagsByTagIds" parameterType="List" resultType="com.zdz.dao.pojo.Tag">
        SELECT id , avatar , tag_name as tagName FROM ms_tag WHERE id in
        <foreach collection="tagIds" item="tagId" separator="," open="(" close=")">
             #{tagId}
        </foreach>

    </select>


</mapper>